source https://api.nuget.org/v3/index.json
framework: netstandard2.0, netcoreapp2.0, netcoreapp2.1
//nuget ExtCore
github jack-pappas/ExtCore
nuget FAKE
nuget FSharp.Core
nuget Microsoft.CodeAnalysis.CSharp
//nuget Microsoft.CodeAnalysis.ActivePatterns
github kekyo/Microsoft.CodeAnalysis.ActivePatterns:f9bc559e48252d474bea484ec9e21bbf6280ba42 Microsoft.CodeAnalysis.ActivePatterns/CSharpActivePatterns.fs
nuget Expecto
nuget FSharp.Compiler.Tools
nuget Microsoft.Net.Compilers

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
